
@{
    ViewBag.Title = "Bio";
}

<h2>Bio</h2>
<p> I am Atanu Rudra Joy. I am currently a student of Computer Science & Engineering which is under Faculty of Science and Technology at American International University-Bangladesh.<br /></p>
<p>I wish to work in the fields which are related to Database Management, Machine Learning and Artificial Intelligence.</p>

