
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>


<table class="table table-bordered">
    <tr>
        <td><b>Degree</b></td>
        <td><b>Institute</b></td>
        <td><b>Passing Year</b></td>
    </tr>

    <tr>
        <td>Bsc. CSE</td>
        <td>American International University-Bangladesh(AIUB)</td>
        <td>Ongoing</td>
    </tr>

    <tr>
        <td>HSC</td>
        <td>SI College</td>
        <td>2018</td>
    </tr>

    <tr>
        <td>SSC</td>
        <td>Mirpur Bangla School & College</td>
        <td>2016</td>
    </tr>

</table>