
@{
    ViewBag.Title = "Personal Info";
}

<h2>Personal Info</h2>
<p>Atanu Rudra Joy</p>
<p>American International University-Bangladesh</p>
<p>Contact:+8801610110190</p>
<p><b>Address:</b>Dhaka, Bangladesh</p>
<p><b>Email:</b> atanu.rudra99@gmail.com</p>
