
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<table class="table table-bordered">
    <tr>
        <td>Project</td>
        <td>Language</td>
    </tr>

    <tr>
        <td>Online Bookshop</td>
        <td>PHP</td>
    </tr>

    <tr>
        <td>Prime Messenger</td>
        <td>C#</td>
    </tr>


    <tr>
        <td>Keylogger</td>
        <td>Java</td>
    </tr>


    <tr>
        <td>Baby Game</td>
        <td>OpenGL C++</td>
    </tr>

</table>